<div class="container">
	<div class="row mt-4">
		<div class="col-sm-6">
			<div class="container border bg-white rounded-lg program">
				<h2 class="mt-2">Testprogram</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere augue. Nullam a fringilla sapien. Nulla at metus tempus, tempus turpis ut, rhoncus felis. Morbi et nunc nibh. Curabitur mollis vel lorem ut condimentum. Curabitur et quam vitae nulla pellentesque vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h3 class="mt-3">Kurser</h3>
				<ul>
					<li>Lorem 1</li>
					<li>Lorem 2</li>
					<li>Lorem 3</li>
					<li>Ipsum 1</li>
					<li>Ipsum 2</li>
					<li>Consectetur</li>
					<li>Adipiscing</li>
					<li>Sapien 1</li>
					<li>Sapien 2</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="container border bg-white rounded-lg program">
				<h2 class="mt-2">Testprogram</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere augue. Nullam a fringilla sapien. Nulla at metus tempus, tempus turpis ut, rhoncus felis. Morbi et nunc nibh. Curabitur mollis vel lorem ut condimentum. Curabitur et quam vitae nulla pellentesque vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h3 class="mt-3">Kurser</h3>
				<ul>
					<li>Lorem 1</li>
					<li>Lorem 2</li>
					<li>Lorem 3</li>
					<li>Ipsum 1</li>
					<li>Ipsum 2</li>
					<li>Consectetur</li>
					<li>Adipiscing</li>
					<li>Sapien 1</li>
					<li>Sapien 2</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-sm-6">
			<div class="container border bg-white rounded-lg program">
				<h2 class="mt-2">Testprogram</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere augue. Nullam a fringilla sapien. Nulla at metus tempus, tempus turpis ut, rhoncus felis. Morbi et nunc nibh. Curabitur mollis vel lorem ut condimentum. Curabitur et quam vitae nulla pellentesque vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h3 class="mt-3">Kurser</h3>
				<ul>
					<li>Lorem 1</li>
					<li>Lorem 2</li>
					<li>Lorem 3</li>
					<li>Ipsum 1</li>
					<li>Ipsum 2</li>
					<li>Consectetur</li>
					<li>Adipiscing</li>
					<li>Sapien 1</li>
					<li>Sapien 2</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="container border bg-white rounded-lg program">
				<h2 class="mt-2">Testprogram</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere augue. Nullam a fringilla sapien. Nulla at metus tempus, tempus turpis ut, rhoncus felis. Morbi et nunc nibh. Curabitur mollis vel lorem ut condimentum. Curabitur et quam vitae nulla pellentesque vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h3 class="mt-3">Kurser</h3>
				<ul>
					<li>Lorem 1</li>
					<li>Lorem 2</li>
					<li>Lorem 3</li>
					<li>Ipsum 1</li>
					<li>Ipsum 2</li>
					<li>Consectetur</li>
					<li>Adipiscing</li>
					<li>Sapien 1</li>
					<li>Sapien 2</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row mt-4 mb-4">
		<div class="col-sm-6">
			<div class="container border bg-white rounded-lg program">
				<h2 class="mt-2">Testprogram</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere augue. Nullam a fringilla sapien. Nulla at metus tempus, tempus turpis ut, rhoncus felis. Morbi et nunc nibh. Curabitur mollis vel lorem ut condimentum. Curabitur et quam vitae nulla pellentesque vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h3 class="mt-3">Kurser</h3>
				<ul>
					<li>Lorem 1</li>
					<li>Lorem 2</li>
					<li>Lorem 3</li>
					<li>Ipsum 1</li>
					<li>Ipsum 2</li>
					<li>Consectetur</li>
					<li>Adipiscing</li>
					<li>Sapien 1</li>
					<li>Sapien 2</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="container border bg-white rounded-lg program">
				<h2 class="mt-2">Testprogram</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget posuere augue. Nullam a fringilla sapien. Nulla at metus tempus, tempus turpis ut, rhoncus felis. Morbi et nunc nibh. Curabitur mollis vel lorem ut condimentum. Curabitur et quam vitae nulla pellentesque vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<h3 class="mt-3">Kurser</h3>
				<ul>
					<li>Lorem 1</li>
					<li>Lorem 2</li>
					<li>Lorem 3</li>
					<li>Ipsum 1</li>
					<li>Ipsum 2</li>
					<li>Consectetur</li>
					<li>Adipiscing</li>
					<li>Sapien 1</li>
					<li>Sapien 2</li>
				</ul>
			</div>
		</div>
	</div>
</div>